@font-face {
  font-family: "gibson-light";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/gibson/light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gibson/light-webfont.woff2") format("woff2"), url("../assets/fonts/gibson/light-webfont.woff") format("woff"), url("../assets/fonts/gibson/light-webfont.ttf") format("truetype"), url("../assets/fonts/gibson/light-webfont.svg#gibson-light") format("svg"); }
@font-face {
  font-family: "gibson-regular";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/gibson/regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gibson/regular-webfont.woff2") format("woff2"), url("../assets/fonts/gibson/regular-webfont.woff") format("woff"), url("../assets/fonts/gibson/regular-webfont.ttf") format("truetype"), url("../assets/fonts/gibson/regular-webfont.svg#gibson-regular") format("svg"); }
@font-face {
  font-family: "gibson-semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/gibson/semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gibson/semibold-webfont.woff2") format("woff2"), url("../assets/fonts/gibson/semibold-webfont.woff") format("woff"), url("../assets/fonts/gibson/semibold-webfont.ttf") format("truetype"), url("../assets/fonts/gibson/semibold-webfont.svg#gibson-semibold") format("svg"); }
@font-face {
  font-family: "gibson-bold";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/gibson/bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gibson/bold-webfont.woff2") format("woff2"), url("../assets/fonts/gibson/bold-webfont.woff") format("woff"), url("../assets/fonts/gibson/bold-webfont.ttf") format("truetype"), url("../assets/fonts/gibson/bold-webfont.svg#gibson-bold") format("svg"); }
html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  height: 100%;
  overflow: auto;
  -webkit-app-region: drag; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: "gibson-regular";
  font-weight: 400; }

a {
  color: #11A6FF;
  text-decoration: none; }

button,
input {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "gibson-regular";
  font-weight: 400; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.paragraph {
  color: #6C738E;
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: "gibson-light"; }

.page-title {
  color: #404454;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  font-family: "gibson-light"; }

@-webkit-keyframes page-in {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1; } }
@-moz-keyframes page-in {
  0% {
    -moz-transform: translateX(-100%);
    opacity: 0; }
  100% {
    -moz-transform: translateX(0);
    opacity: 1; } }
@keyframes page-in {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@-webkit-keyframes page-out {
  0% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.8);
    opacity: 0; } }
@-moz-keyframes page-out {
  0% {
    -moz-transform: scale(1);
    opacity: 1; }
  100% {
    -moz-transform: scale(0.8);
    opacity: 0; } }
@keyframes page-out {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0; } }
.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: white; }
  .wrapper.ng-enter {
    -webkit-animation: page-in cubic-bezier(0.215, 0.61, 0.355, 1) 250ms;
    -moz-animation: page-in cubic-bezier(0.215, 0.61, 0.355, 1) 250ms;
    animation: page-in cubic-bezier(0.215, 0.61, 0.355, 1) 250ms; }
  .wrapper.ng-leave {
    -webkit-animation: page-out cubic-bezier(0.215, 0.61, 0.355, 1) 250ms;
    -moz-animation: page-out cubic-bezier(0.215, 0.61, 0.355, 1) 250ms;
    animation: page-out cubic-bezier(0.215, 0.61, 0.355, 1) 250ms; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.float--left {
  float: left; }
.float--right {
  float: right; }

.logo {
  position: relative;
  top: 20px;
  width: 64px;
  height: 64px;
  margin-bottom: 20px; }

.about {
  padding: 40px;
  text-align: center; }
  .about__version {
    color: #6C738E;
    font-size: 11px;
    font-family: "gibson-light"; }

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 0 20px;
  width: calc(100% - 40px);
  height: 60px;
  line-height: 60px;
  background: rgba(19, 22, 33, 0.93); }

.control__item {
  position: relative;
  height: 100%;
  width: calc(100% / 2);
  float: left;
  display: block; }
.control__btn--mute {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 0;
  color: white;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px; }
  .control__btn--mute.active {
    color: #11A6FF;
    border: 1px solid #11A6FF; }
.control__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 4px 6px;
  outline: 0;
  width: 100%;
  color: white;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px; }

.workspace {
  position: relative;
  top: 20px; }

.sound__list {
  width: 100%; }
.sound__item {
  padding: 20px;
  border-bottom: 1px solid #EDF2F3; }
  .sound__item__title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #6C738E;
    cursor: default;
    font-size: 13px; }
.sound__range-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 8px;
  -webkit-app-region: no-drag;
  float: right; }
  .sound__range-slider:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transition: all, cubic-bezier(0.215, 0.61, 0.355, 1), 200ms;
    -moz-transition: all, cubic-bezier(0.215, 0.61, 0.355, 1), 200ms;
    transition: all, cubic-bezier(0.215, 0.61, 0.355, 1), 200ms;
    -webkit-app-region: no-drag;
    position: relative;
    top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background: #11A6FF; }
    .sound__range-slider:hover::-webkit-slider-thumb:hover, .sound__range-slider:hover::-webkit-slider-thumb:active, .sound__range-slider:hover::-webkit-slider-thumb:focus {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5); }
  .sound__range-slider:focus {
    outline: none; }
  .sound__range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transition: all, cubic-bezier(0.215, 0.61, 0.355, 1), 200ms;
    -moz-transition: all, cubic-bezier(0.215, 0.61, 0.355, 1), 200ms;
    transition: all, cubic-bezier(0.215, 0.61, 0.355, 1), 200ms;
    -webkit-app-region: no-drag;
    position: relative;
    top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background: transparent; }
    .sound__range-slider::-webkit-slider-thumb:hover, .sound__range-slider::-webkit-slider-thumb:active, .sound__range-slider::-webkit-slider-thumb:focus {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5); }
  .sound__range-slider::-webkit-slider-runnable-track {
    height: 2px;
    background: #11A6FF; }
  .sound__range-slider--global {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .sound__range-slider--global:focus {
      outline: none; }
    .sound__range-slider--global::-webkit-slider-thumb {
      background: #6C738E; }
      .sound__range-slider--global::-webkit-slider-thumb:hover {
        background: #6C738E; }
      .sound__range-slider--global::-webkit-slider-thumb:hover, .sound__range-slider--global::-webkit-slider-thumb:active, .sound__range-slider--global::-webkit-slider-thumb:focus {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5); }
    .sound__range-slider--global::-webkit-slider-runnable-track {
      height: 2px;
      background: #6C738E; }

.icon {
  position: relative;
  margin-right: 16px; }
  .icon--waves, .icon--rain, .icon--storm, .icon--river, .icon--cafe, .icon--birds {
    width: 24px;
    height: 24px;
    float: left; }
  .icon--cafe {
    top: -4px; }
  .icon--river {
    top: -2px; }
